<div class="row">
<%if (typeof category !== undefined) {%>
  <%if (spots.length <= 0){%>
  <div class="flexx">
    <div class="col-12 not-found-title">
      <h2 class="not-found">Ups, we didn't find any spots with the category:<br><br><em style="color: #5CB85C"><%=category%></em></h2>
    </div>
  </div>
  <%}%>
<%}%>


<% spots.forEach((spot) => {%>
  <div class="col-12 col-sm-12 col-md-6 searched-spot" 
  style="background: url(<%= spot.mainImage%>) no-repeat; float:left;background-size: cover;">
    <div class="search-darken"> </div>
    <p class="search-title"><%= spot.name%> <br>
    <span class="search-country"><%= spot.country%></span></p>
    <p class=" hidden-sm-down search-intro">&ldquo;<%= spot.spotInfo.introduction%>&rdquo;</p>

    <p><a class="btn calltoaction btn--search" href="/spot/<%= spot._id%>">Discover</a>
    </p>
  </div>
<% })%>
</div>

<script>
  var searchedLength = <%= spots.length %>;
</script>